In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set visualization theme and configurations
sns.set_theme()
from datetime import timedelta, datetime

import warnings
warnings.filterwarnings("ignore") # Ignore warnings for cleaner output
pd.set_option('display.max_columns', None) # Display all columns in DataFrame outputs

# First Dataset

In [3]:
ecommerce = pd.read_csv('Ecommerce_data.csv')

In [4]:
ecommerce.head()

,customer_id,customer_first_name,customer_last_name,category_name,product_name,customer_segment,customer_city,customer_state,customer_country,customer_region,delivery_status,order_date,order_id,ship_date,shipping_type,days_for_shipment_scheduled,days_for_shipment_real,order_item_discount,sales_per_order,order_quantity,profit_per_order
0,C_ID_45866,Mary,Fuller,Office Supplies,Xerox 1913,Corporate,New Rochelle,New York,United States,East,Shipping on time,11/5/2022,O_ID_3001072,11/7/2022,Second Class,2,2,35.0,500.0,5,223.199997
1,C_ID_44932,Alan,Edelman,Office Supplies,#6 3/4 Gummed Flap White Envelopes,Corporate,Houston,Texas,United States,Central,Shipping canceled,20-06-2022,O_ID_3009170,23-06-2022,Second Class,2,3,85.0,500.0,5,199.199997
2,C_ID_70880,Mary,Gayman,Office Supplies,Belkin 8 Outlet Surge Protector,Consumer,Louisville,Kentucky,United States,South,Late delivery,25-06-2022,O_ID_3047567,30-06-2022,Standard Class,4,5,75.0,44.0,5,195.500000
3,C_ID_33157,Raymond,Eason,Office Supplies,GBC VeloBinder Manual Binding System,Corporate,Chicago,Illinois,United States,Central,Late delivery,10/6/2022,O_ID_3060575,10/10/2022,Second Class,2,4,60.0,254.0,1,220.000000
4,C_ID_58303,Mary,Gonzalez,Furniture,Eldon Pizzaz Desk Accessories,Home Office,Philadelphia,Pennsylvania,United States,East,Late delivery,2/5/2022,O_ID_3064311,8/1/2022,First Class,1,2,125.0,500.0,1,97.500000

In [5]:
ecommerce.shape

(113270, 21)

In [6]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113270 entries, 0 to 113269
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   customer_id                  113270 non-null  object
 1   customer_first_name          113270 non-null  object
 2   customer_last_name           113270 non-null  object
 3   category_name                113270 non-null  object
 4   product_name                 113270 non-null  object
 5   customer_segment             113270 non-null  object
 6   customer_city                113270 non-null  object
 7   customer_state               113270 non-null  object
 8   customer_country             113270 non-null  object
 9   customer_region              113270 non-null  object
 10  delivery_status              113270 non-null  object
 11  order_date                   113270 non-null  object
 12  order_id                     113270 non-null  object
 13  ship_date                    113270 non-null  object
 14  shipping_type                113270 non-null  object
 15  days_for_shipment_scheduled  113270 non-null  int64
 16  days_for_shipment_real       113270 non-null  int64
 17  order_item_discount          113270 non-null  float64
 18  sales_per_order              113270 non-null  float64
 19  order_quantity               113270 non-null  int64
 20  profit_per_order             113270 non-null  float64
dtypes: float64(3), int64(3), object(15)
memory usage: 18.1+ MB

In [7]:
#checking for nulls
ecommerce.isnull().sum()

customer_id                    0
customer_first_name            0
customer_last_name             0
category_name                  0
product_name                   0
customer_segment               0
customer_city                  0
customer_state                 0
customer_country               0
customer_region                0
delivery_status                0
order_date                     0
order_id                       0
ship_date                      0
shipping_type                  0
days_for_shipment_scheduled    0
days_for_shipment_real         0
order_item_discount            0
sales_per_order                0
order_quantity                 0
profit_per_order               0
dtype: int64

In [8]:
# Replace '/' with '-' in order to convert after to datetime
ecommerce['order_date'] = ecommerce['order_date'].str.replace('/', '-')
ecommerce['ship_date'] = ecommerce['ship_date'].str.replace('/', '-')

In [9]:
# convert columns to date time
ecommerce['order_date'] = pd.to_datetime(ecommerce['order_date'], format='%d-%m-%Y')
ecommerce['ship_date'] = pd.to_datetime(ecommerce['ship_date'], format='%d-%m-%Y')

In [10]:
ecommerce.describe()

,order_date,ship_date,days_for_shipment_scheduled,days_for_shipment_real,order_item_discount,sales_per_order,order_quantity,profit_per_order
count,113270,113270,113270.000000,113270.000000,113270.000000,113270.000000,113270.000000,113270.000000
mean,2021-12-11 19:54:08.613048576,2021-12-14 16:48:40.427297536,2.931209,3.464006,21.105465,204.499537,1.967564,23.069382
min,2021-01-04 00:00:00,2021-01-05 00:00:00,0.000000,0.000000,0.000000,9.990000,1.000000,-3366.000000
25%,2021-06-22 00:00:00,2021-06-25 00:00:00,2.000000,2.000000,5.500000,119.980003,1.000000,7.200000
50%,2021-12-06 00:00:00,2021-12-09 00:00:00,4.000000,3.000000,14.400000,199.919998,1.000000,32.029999
75%,2022-05-31 00:00:00,2022-06-02 00:00:00,4.000000,5.000000,30.000000,299.950012,3.000000,65.570000
max,2022-12-31 00:00:00,2023-03-04 00:00:00,4.000000,6.000000,500.000000,1999.989990,5.000000,2600.000000
std,NaN,NaN,1.375914,1.632198,22.959207,141.443090,1.355254,105.288561

In [11]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113270 entries, 0 to 113269
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   customer_id                  113270 non-null  object
 1   customer_first_name          113270 non-null  object
 2   customer_last_name           113270 non-null  object
 3   category_name                113270 non-null  object
 4   product_name                 113270 non-null  object
 5   customer_segment             113270 non-null  object
 6   customer_city                113270 non-null  object
 7   customer_state               113270 non-null  object
 8   customer_country             113270 non-null  object
 9   customer_region              113270 non-null  object
 10  delivery_status              113270 non-null  object
 11  order_date                   113270 non-null  datetime64[ns]
 12  order_id                     113270 non-null  object
 13  ship_date                    113270 non-null  datetime64[ns]
 14  shipping_type                113270 non-null  object
 15  days_for_shipment_scheduled  113270 non-null  int64
 16  days_for_shipment_real       113270 non-null  int64
 17  order_item_discount          113270 non-null  float64
 18  sales_per_order              113270 non-null  float64
 19  order_quantity               113270 non-null  int64
 20  profit_per_order             113270 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 18.1+ MB

In [12]:
ecommerce.head()

,customer_id,customer_first_name,customer_last_name,category_name,product_name,customer_segment,customer_city,customer_state,customer_country,customer_region,delivery_status,order_date,order_id,ship_date,shipping_type,days_for_shipment_scheduled,days_for_shipment_real,order_item_discount,sales_per_order,order_quantity,profit_per_order
0,C_ID_45866,Mary,Fuller,Office Supplies,Xerox 1913,Corporate,New Rochelle,New York,United States,East,Shipping on time,2022-05-11,O_ID_3001072,2022-07-11,Second Class,2,2,35.0,500.0,5,223.199997
1,C_ID_44932,Alan,Edelman,Office Supplies,#6 3/4 Gummed Flap White Envelopes,Corporate,Houston,Texas,United States,Central,Shipping canceled,2022-06-20,O_ID_3009170,2022-06-23,Second Class,2,3,85.0,500.0,5,199.199997
2,C_ID_70880,Mary,Gayman,Office Supplies,Belkin 8 Outlet Surge Protector,Consumer,Louisville,Kentucky,United States,South,Late delivery,2022-06-25,O_ID_3047567,2022-06-30,Standard Class,4,5,75.0,44.0,5,195.500000
3,C_ID_33157,Raymond,Eason,Office Supplies,GBC VeloBinder Manual Binding System,Corporate,Chicago,Illinois,United States,Central,Late delivery,2022-06-10,O_ID_3060575,2022-10-10,Second Class,2,4,60.0,254.0,1,220.000000
4,C_ID_58303,Mary,Gonzalez,Furniture,Eldon Pizzaz Desk Accessories,Home Office,Philadelphia,Pennsylvania,United States,East,Late delivery,2022-05-02,O_ID_3064311,2022-01-08,First Class,1,2,125.0,500.0,1,97.500000

In [13]:
ecommerce['category_name'].unique()

array(['Office Supplies', 'Furniture', 'Technology'], dtype=object)

In [14]:
ecommerce['customer_segment'].unique()

array(['Corporate', 'Consumer', 'Home Office'], dtype=object)

In [15]:
ecommerce['customer_country'].unique()

array(['United States'], dtype=object)

In [16]:
ecommerce['shipping_type'].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [26]:
ecommerce.to_csv('ecommerce_data.csv.csv')

# Second Dataset

In [18]:
long_lat = pd.read_csv('Longitude_Latitude_data.csv')

In [19]:
long_lat.head()

  state   latitude   longitude customer_state
0    AK  63.588753 -154.493062         Alaska
1    AL  32.318231  -86.902298        Alabama
2    AR  35.201050  -91.831833       Arkansas
3    AZ  34.048928 -111.093731        Arizona
4    CA  36.778261 -119.417932     California

In [20]:
long_lat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           52 non-null     object
 1   latitude        52 non-null     float64
 2   longitude       52 non-null     float64
 3   customer_state  52 non-null     object
dtypes: float64(2), object(2)
memory usage: 1.8+ KB

In [22]:
long_lat.shape

(52, 4)

In [21]:
long_lat.isnull().sum()

state             0
latitude          0
longitude         0
customer_state    0
dtype: int64

In [25]:
long_lat.to_csv('us_state_long_lat_codes.csv')